html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    text-align: center;
}

.video {
    /*filter:opacity(0%);*/
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display:none;
}

#Prompt {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    width: 100%;
    height: 100%;
    color: white;
    font-size: 44pt;
}

