html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    text-align: center;
}

.video {
    /*filter:opacity(0%);*/
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display:none;
}

#Prompt {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    width: 100%;
    height: 100%;
    color: white;
    font-size: 44pt;
}

#center {
    position: absolute;
    top: 37%;
    -ms-transform: translateY(-50%);
    width: 100%;
    height: 100%;
    color: white;
    font-size: 96pt;
    font-family: 'Crimson Pro', serif;
    font-weight: 300;
}

#desc {
    position: relative;
    top: 2%;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18pt;
    font-family: 'Crimson Pro', serif;
    font-weight: 300;
}

#start {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 15pt;
    font-style: italic;
    font-family: 'Crimson Pro';
}

#watch {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 10%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18pt;
    font-family: 'Crimson Pro', serif;
}

#about {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 10%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18pt;
    font-family: 'Crimson Pro', serif;
}

#footerbar {
    position: absolute;
    margin: auto;
    bottom: 10%;
    width: 100%;
    height: 10%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18pt;
    font-family: 'Crimson Pro', serif;
}


